H5_FILE_PATH='C:\Users\dinur\OneDrive\Desktop\ML-Backend\assets\Densenet201(Original Images).h5'
IMAGES_PATH='images' // do not change this
CSV_PATH='C:\Users\dinur\OneDrive\Desktop\ML-Backend\assets\all_07_07_23.csv'
PKL_PATH='C:\Users\dinur\OneDrive\Desktop\ML-Backend\assets\xgb_reg.pkl'
CLINICAL='C:\Users\dinur\OneDrive\Desktop\ML-Backend\assets\clinicalDiag.npz'